.title, p {
    display: flex;
    justify-content: center;
}

.image-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
    transition : box-shadwo 0.3s ease-in-out;
    width: 300px;
}

.image-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.image-card img {
    width: 80%;
    height: auto;
    display: block;
}

.image-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

button{
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: backgroud-color 0.3s ease-in-out;

}

button:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 4);
    /* nothing */
}
